{%load static%}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
<footer class = "footer">
    <div class= "div1">
        <a href="{%url 'home'%}" class="section" ><i class="fa-sharp-duotone fa-solid fa-house-chimney"></i><br>
        Home </a>
    </div>
    <div class= "div2">
        <a href="{%url 'employee'%}" class="section" ><i class="fa-solid fa-users"></i><br>
        Employees</a>
    </div>
    <div class= "div3">
        <a href="{%url 'order'%}" class="section" ><i class="fa-solid fa-cart-shopping"></i><br>
        Orders </a>
    </div>
</footer>