<!DOCTYPE html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

<header class="header">
    {%load static%}
    <div class = "navcontainer">
        <div class= "nav1">
            <span style="font-size: 20px;">☰</span>

        </div>
        <div class= "nav2">Furniture Manager</div>
        <div class= "nav3">
            <span class="bell">
                <i class="fa-solid fa-bell"></i>
            </span>
        </div>
    </div>
</header>