#python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
myenv/
.venv/


# Django
*.log
db.sqlite3
db.sqlite3-journal

# Environment variables
.env
.env.*

# Media uploads
media/

# Collected static files


# Testing


# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
